html {
  background-color: var(--color-foam);
}

main {
  margin: 100px 1rem 70px 1rem;
}

.avatarpic {
  padding: 5px;
  margin-right: 10px;
  height: 100px;
}

.avatarname {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.modeSetting {
  display: flex;
  gap: 20px;
}

.dark {
  background-color: var(--color-darkMode);
  color: var(--color-foam);
}
