.card {
  border: solid;
  padding: 1em;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.bookmark-container {
  position: absolute;
  top: -1em;
  right: 1em;
}

.bookmarkButton {
  border: none;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: var(--color-medium);
}

.bookmark {
  width: 1.5em;
}

.active {
  background: var(--color-foam);
}
