.footer {
  width: 100%;
  left: 0;
  background-color: var(--color-dark);
  position: fixed;
  bottom: 0;
  padding: 8px;
  display: flex;
  justify-content: space-around;
}

a:hover {
  background: white;
  border-radius: var(--general-border-radius);
}

.active {
  background-color: white;
}

.navitem {
  height: 2rem;
  padding: 2px 20px;
  border-radius: var(--general-border-radius);
}
