.tags {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.singletag {
  border: solid;
  padding: 3px;
  border-radius: var(--general-border-radius);
  background-color: var(--color-light);
  font-size: 13px;
}
